In [1]:
# Importing the Necessary Libraries
import pandas as pd
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [2]:
# Reading the data
data=pd.read_csv('AQI.csv')

In [3]:
# Printing Data Column
data.columns

Index(['date', 'co', 'no', 'no2', 'o3', 'so2', 'pm2_5', 'pm10', 'nh3'], dtype='object')

In [4]:
# Viewing Data
data.head()

,date,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,25-11-2020 01:00,2616.88,2.18,70.60,13.59,38.62,364.61,411.73,28.63
1,25-11-2020 02:00,3631.59,23.25,89.11,0.33,54.36,420.96,486.21,41.04
2,25-11-2020 03:00,4539.49,52.75,100.08,1.11,68.67,463.68,541.95,49.14
3,25-11-2020 04:00,4539.49,50.96,111.04,6.44,78.20,454.81,534.00,48.13
4,25-11-2020 05:00,4379.27,42.92,117.90,17.17,87.74,448.14,529.19,46.61

In [6]:
# Check Shape of Data 
data.shape

(18776, 9)

In [7]:
# Checking if there exists null values in the data or not
data[data.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [date, co, no, no2, o3, so2, pm2_5, pm10, nh3]
Index: []